# Postgres
POSTGRES_USER=resconnect
POSTGRES_PASSWORD=resconnect_secret
POSTGRES_DB=resconnect

# pgAdmin
PGADMIN_EMAIL=admin@resconnect.local
PGADMIN_PASSWORD=admin

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin_secret

# FastAPI
SECRET_KEY=change_me_in_production
